---
import Layout from '~/layouts/HomeLayout.astro';

import Swiper from '~/components/widgets/Swiper.astro';
import PhoneScreen from '~/components/widgets/PhoneScreen.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FeaturesApp from '~/components/widgets/FeaturesApp.astro';

const metadata = {
  title: '祥龙智运',
  ignoreTitleTemplate: true,
};

import { getImage } from "astro:assets"

import tomas16x9 from "../assets/images/slider/tomas-16x9.jpg"
import tomas9x16 from "../assets/images/slider/tomas-9x16.jpg"
const tomas16x9Image = await getImage({ src: tomas16x9 })
const tomas9x16Image = await getImage({ src: tomas9x16 })

import ship16x9 from "../assets/images/slider/ship-16x9.jpg"
import ship9x16 from "../assets/images/slider/ship-9x16.jpg"
const ship16x9Image = await getImage({ src: ship16x9 })
const ship9x16Image = await getImage({ src: ship9x16 })

import bergmanis16x9 from "../assets/images/slider/bergmanis-16x9.jpg"
import bergmanis9x16 from "../assets/images/slider/bergmanis-9x16.jpg"
const bergmanis16x9Image = await getImage({ src: bergmanis16x9 })
const bergmanis9x16Image = await getImage({ src: bergmanis9x16 })

import wayLane16x9 from "../assets/images/slider/way-lane-16x9.jpg"
import wayLane9x16 from "../assets/images/slider/way-lane-9x16.jpg"
const wayLane16x9Image = await getImage({ src: wayLane16x9 })
const wayLane9x16Image = await getImage({ src: wayLane9x16 })

const slides = [
  {
    kicker: '效率',
    background: `url("${tomas16x9Image.src}")`,
    background_movil: `url("${tomas9x16Image.src}")`,
    title: '干线运输<br><br>',
    highlight: '优化运力',
    text_color: '#fff',
    url_project: '',
    btn_href: '/portafolio/88673',
    btn_bg_color: '#F64C71',
    btn_text_color: 'white',
    invert_arrow_color: false,
  },
  {
    kicker: '安全',
    background: `url("${ship16x9Image.src}")`,
    background_movil: `url("${ship9x16Image.src}")`,
    title: '超限件运输<br><br>',
    highlight: '优化运力',
    text_color: '#fff',
    url_project: '',
    btn_href: '/portafolio/88673',
    btn_bg_color: '#F64C71',
    btn_text_color: 'white',
    invert_arrow_color: false,
  },
  {
    kicker: '智慧',
    background: `url("${bergmanis16x9Image.src}")`,
    background_movil: `url("${bergmanis9x16Image.src}")`,
    title: 'Nos unimos <br>',
    highlight: 'al viaje',
    text_color: '#fff',
    url_project: '',
    btn_href: '/portafolio/88680',
    btn_bg_color: '#57F1B1',
    btn_text_color: 'black',
    invert_arrow_color: true,
  },
  {
    kicker: '科技',
    background: `url("${wayLane16x9Image.src}")`,
    background_movil: `url("${wayLane9x16Image.src}")`,
    title: 'Movemos <br>',
    highlight: 'personas',
    text_color: '#000',
    url_project: '',
    btn_href: '/portafolio/88682',
    btn_bg_color: '#ABEBFF',
    btn_text_color: 'black',
    invert_arrow_color: true,
  },
];
---

<Layout metadata={metadata}>
  <Swiper slides={slides} />

  <FeaturesApp
    id="features"
    title="祥龙智运 App"
    subtitle="在 祥龙智运 App 完成您的运输工作。"
    items={[
      {
        title: '微信小程序',
        icon: '/svg/frontend/mini.svg',
      },
      {
        title: '安卓App',
        icon: '/svg/frontend/robot.svg',
      },
      {
        title: '网页版',
        icon: '/svg/frontend/ie.svg',
      },
    ]}
  />

  <!-- PhoneScreen Widget ******************* -->
   <PhoneScreen
    title="平台功能介绍"
    items={[
      {
        title: '快捷接单',
        description:
          '接收运单，一键触达。',
      },
      {
        title: '流畅操作',
        description:
          '装车卸车打卡拍照，一气呵成。',
      },
      {
        title: '运费结算',
        description:
          '方便快捷，10分钟运费到账。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >


    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </PhoneScreen>


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="新闻动态"
    information={`最热新闻`}
  />
</Layout>
